.overlay1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  align-items: center;
  justify-content: center;
}

.popup1 {
  background-color: white;
  border: 2px solid rgb(129, 129, 240);
  border-radius: 12px;
  align-items: center;
  padding: 20px;
  padding-left: 2%;
  text-align: center;
}
.popup1 :hover {
  transform: scale(1.01);
  transition: all 0.2s ease-in;
}
.calendar {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  text-align: center;
  padding: 5px;
  color: rgb(0, 0, 0);
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  margin: auto;
  font-weight: 500;
  border-radius: 50%;
  transition: 0.2s;
  height: 30px;
  width: 30px;
}

.date:hover,
.date.active {
  background-color: darkblue;
  color: white;
}

.date.inactive {
  color: rgb(211, 211, 211);
}

.prevBtn {
  background-color: white;
  border: none;
  padding-left: 30%;
  cursor: pointer;
}

.nextBtn {
  background-color: white;
  border: none;
  cursor: pointer;
}
.month {
  cursor: pointer;
}

.yearButton {
  display: flex;
  flex-direction: column;
}
.upBtn {
  background-color: white;
  border: none;
  align-items: center;
  font-size: 60%;
  cursor: pointer;
}
.downBtn {
  background-color: white;
  border: none;
  align-items: center;
  font-size: 60%;
  cursor: pointer;
}

.monthOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  /* background-color: rgba(0, 0, 0, 0.6); */
  z-index: 10;
  align-items: center;
  justify-content: center;
}
.monthPopup {
  position: absolute;
  background-color: white;
  border: 2px solid rgb(129, 129, 240);
  border-radius: 12px;
  align-items: center;
  width: 325px;
  height: 355px;
  padding: 20px;
  padding-left: 2%;
  text-align: center;
}
.months {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}
.months > div {
  display: grid;
  place-items: center;
}
.month > div > div {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.months > div :hover {
  background-color: darkblue;
  color: white;
  transform: scale(1.01);
  transition: all 0.2s ease-in;
  position: absolute;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  margin: auto;
  font-weight: 500;
  border-radius: 10%;
  transition: 0.2s;
}
