@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

::-webkit-scrollbar {
    height: 2px;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;

}
::-webkit-scrollbar:hover {
    background: white;
    width:10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #7D41E2;    
    border-radius: 80px; 
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    
   
  } */
  
  

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    /* position: relative; */
    /* background-color: black; */

}
:root{
    --txtColor1: #000000a8;
}
.darktheme{
    --element-color:white;
    --element1-color:#9DB2BF;
    --element2-color: #DDE6ED;
    background-color: black;
    color: white;
    transition: all 1s;

}

#themeImg {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
}
#menu-icon
{
    color:var(--txt-color);
    font-size: 45px;
    display:none;
}

.overlay1{
     display: none;
}



.popup1{
    display: flex;

}

.themechangebtn {
    background-color: transparent;
    border: transparent;
}

.navbar.dark {
    background-color: black;
}

.navbar {

    background-color: white;
    height: 80px;
    width: 95vw;
    left: 0px;
    top: 0px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 9999;
    align-items: center;
    transition: background-color 1s ease;
    padding: 10px 20px;
}

.nav-links {
     margin-right: 40px;
    display: flex;
}
  
.nav-links button {
    margin-right: 10px;
    background-color: #7D41E2;
    border: none;
    color: inherit;
    color: white;

    cursor: pointer;
}
/* Sec-1 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navs1 {
    /* border: 1px solid black; */
    width: 15vw;
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 3.5vw;
}

.navs1 img {
    /* border: 1px solid black; */
    width: 39px;
    height: 39px;
    border-radius: 10vw;
}

.navs1 a {
    text-decoration: none;
    color: #7D41E2;
}

.span1 {
    margin-left: 1vw;
    font-size: 2em;
    font-weight: bold;
    color: #7D41E2;
}

.span2 {
    font-size: 2em;
    font-weight: bolder;
    color: #7D41E2;
}


#signup:hover, #loginButton:hover,#calender:hover{
    border: 1px solid #208FF4;
    background-color: transparent;
    color: #2a95f6;
}

.menu-overlay{
    background-color: transparent;
    color: white;
    width: 100vw;
    display: none;
    margin-top: 100px;
    justify-content: center;
}

.menu-container{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-container button{
    margin-bottom: 20px;
}

/* Sec-2 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.nav-links{
    display: flex;
}
.navs2 {
    /* border: 1px solid black; */
    /* width: 25vw; */
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 1vw;
}
.navs2.dark{
    background-color: black;
    color: white;
}

.navs2>img {
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    margin: 0 0.5vw;

}
.button_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    text-decoration: none;
    height: 30px;
    background-color: #7D41E2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
}

.navbtn2 {
    cursor: pointer;
    height: 2vw;
    width: 9vw;
    margin: 0 1vw;
    border-radius: 0.5vw;
    border: none;
    background-color: #2a95f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbtn2>img {
    border: 1px solid black;
    width: 1vw;
    height: 1vw;
    /* margin: 0 0.5vw; */
}

.navbtn2 span {
    margin-left: 0.3vw;
}

.txtColor {
    color: white;
}
.txtColor1{
    color: var(--txtColor1);
}
.darktheme .txtColor1{
    color: rgba(0, 0, 0, 0.7);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    align-items: center;
    justify-content: center;
  }
  
  .popup {
    background-color: white;
    border: 2px solid rgb(129, 129, 240);
    border-radius: 12px;
    align-items: center;
    width: 30%;
    padding:10px;
    padding-left: 2%;
    text-align: center;


  .popup :hover {
    border: 2px solid blue ;
     transform: scale(1.01);
     transition: all 0.2s ease-in;
  }
   
  .popup .option {
    transition: none !important;
  }
  
  
  /* Styles for screens below 780px */
  @media (max-width: 712px) {
    
    #menu-icon{
        display: block;
    }
    .menu-overlay{
        display: none;
        top: 100px;
        /* transition: 1sec ease; */
    } 
    .nav-links{
        display: none;
    }
    .menu-container{
        display: none;
        /* transition: 3s ease-in-out; */
        flex-direction: column;
    }
  
    .navs2{
      /* position: absolute; */
      top: 100%;
      left: 0;
      margin-right: 40px;
      background-color: white;
      /* width: 100%; */
      padding: 5px;
      /* display: flex;
      flex-direction: column; */
    }
  
    .navs2 .nav-links button {
      margin: 5px 0;
      width: fit-content;
      padding: 5px;
    }
  }