@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: white;

}
::-webkit-scrollbar:hover {
    background: white;
    width:10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #7D41E2;    
    border-radius: 80px; 
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    
   
  } */
  
  

*{
    margin: 0;
    padding: 0;
}


body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    /* background-color: black; */

}
:root{
    --txtColor1: #000000a8;
}
.darktheme{
    --element-color:white;
    --element1-color:#9DB2BF;
    --element2-color: #DDE6ED;
    background-color: black;
    color: white;
    transition: all 1s;

}

#themeImg {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
}

.themechangebtn {
    background-color: transparent;
    border: transparent;
}

.navbar.dark {
    background-color: black;
}

.navbar {

    width: 100vw;
    height: 80px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    transition: background-color 1s ease;
    z-index: 9999;
    position: fixed;
}

/* Sec-1 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navs1 {
    /* border: 1px solid black; */
    width: 15vw;
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 3.5vw;
}

.navs1 img {
    /* border: 1px solid black; */
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}

.navs1 a {
    text-decoration: none;
    color: #7D41E2;
}

.span1 {
    margin-left: 1vw;
    font-size: 2em;
    font-weight: bold;
    color: #7D41E2;
}

.span2 {
    font-size: 2em;
    font-weight: bolder;
    color: #7D41E2;
}
#loginButton a{
    text-decoration: none;
    color: #f6f8f9;
}
#loginButton{
    border: 1px solid #208FF4;
    background-color: #208FF4;
    color: #fcfeff;
}
#loginButton:hover a{
    color: #208FF4;
}
#loginButton:hover{
    border: 1px solid #208FF4;
    background-color: transparent ;
    color: #ffffff;
}
#signup:hover{
    border: 1px solid #208FF4;
    background-color: transparent;
    color: #2a95f6;
}
#Calender:hover{
    border: 1px solid #208FF4;
    background-color: transparent;
    color: #2a95f6;
}
#Calender{
    border: 1px solid #f6f8f9;
    background-color:#208FF4 ;
    color: white;
}


/* Sec-2 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navs2 {
    /* border: 1px solid black; */
    /* width: 25vw; */
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 1vw;
}


.navs2>img {
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    margin: 0 0.5vw;

}
.button_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    height: 30px;
    background-color: #208FF4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
}


.navbtn2 {
    cursor: pointer;
    height: 2vw;
    width: 9vw;
    margin: 0 1vw;
    border-radius: 0.5vw;
    border: none;
    background-color: #2a95f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbtn2>img {
    border: 1px solid black;
    width: 1vw;
    height: 1vw;
    /* margin: 0 0.5vw; */
}

.navbtn2 span {
    margin-left: 0.3vw;
}

.txtColor {
    color: white;
}
.txtColor1{
    color: white;
}

.txtColor:hover{
    border: 1px solid #208FF4;
    background-color: transparent;
    color: #2a95f6;
}

.txtColor1:hover{
    border: 1px solid #208FF4;
    background-color: transparent;
    color: #2a95f6;
}
.darktheme .txtColor1{
    color: rgba(0, 0, 0, 0.7);
}

.navs2 #themeImg:hover{
    transform: scale(1.2);
}




.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: white;
  border: 2px solid rgb(129, 129, 240);
  border-radius: 12px;
  align-items: center;
  width: 30%;
  padding:10px;
  padding-left: 2%;
  text-align: center;
}

.popup .option {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 25px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  padding-left:15px;
  cursor: pointer;
  
}

.popup .option img {
  max-width: 25px;
  max-height: 25px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.popup :hover {
  border: 2px solid blue ;
   transform: scale(1.01);
   transition: all 0.2s ease-in;
}
 
.popup .option {
  transition: none !important;
}


.overlay1{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  align-items: center;
  justify-content: center;
}

.popup1 {
  background-color: white;
  border: 2px solid rgb(129, 129, 240);
  border-radius: 12px;
  align-items: center;
  width: 30%;
  padding:10px;
  padding-left: 2%;
  text-align: center;
}
.popup1 :hover {
   transform: scale(1.01);
   transition: all 0.2s ease-in;
}
.calender{
    width:300px;
    height: auto;
    display:flex;
    flex-direction:column;
    padding:10px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.days{
    display:grid;
    grid-template-columns: repeat(7,1fr);
}

.day{
    text-align: center;
    padding:5px;
    color:rgb(0, 0, 0);
}

.dates{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
}

.date{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding:5px;
    margin: auto;
    font-weight: 500;
    border-radius: 50%;
    transition: 0.2s;
    height:20px;
    width:50px;
}

.date:hover,
.date.active{
    background-color: darkblue;
    color: white;
}

.date.inactive{
    color:rgb(211, 211, 211);
}


