:root {
    --element-color: black;
    --element1-color: rgba(0, 0, 0, 0.5);
    --element2-color: rgba(0, 0, 0, 0.8);
}

.sec1 {


    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s1part1 {
    width: 97%;
    max-width: 1200px;
    margin: 6.2rem auto;
    border-radius: 2rem;
    background-color: #7D41E2;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.199);
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1part1 span {
    font-size: 2.7em;
    font-weight: bold;
    color: white;
}

.search {
    height: 3rem;
    width: 34rem;
    max-width: 80%;
    border-radius: 2rem;
    position: relative;
    top: -2.5rem;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.155);
    color: rgba(0, 0, 0, 0.148);
    padding-left: 1rem;
}

.search::placeholder {
    color: black;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;

}

.s1btn1 {
    cursor: pointer;
    height: 2.5rem;
    width: 7.2rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #ff765d;
    background-color: white;
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

.s1btn1:hover {
    background-color: #ff765d;
    color: white;
}
