:root {
    --element-color: black;
    --element1-color:rgba(0, 0, 0, 0.5);
    --element2-color:rgba(0, 0, 0, 0.8);
}



.sec1 {
    height: 10vw;
    margin-top: 110px;
    background-color: #7D41E2;
    border-radius: 2vw;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.199);
    align-items:end;
    justify-content: center;
    margin-bottom: 100px;
}

.s1part1 {
    height: 7vw;
    /* width: 10vw; */
    margin: 0.2vw auto;
    
    
    

}

.s1part1 span {
    position: relative;
    top: 1.1vw;
    left: 3vw;
    font-size: 5.0em;
    font-weight: bold;
    color: white;
}
.search-sec1{
    position: relative;
    top: -0.5vw;
    left: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search {
    height: 3vw;
    width: 34vw;
    border-radius: 2vw;
    position: relative;
    left: 33vw;
    right: 33vw;
    top: -4.5vw;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.155);
    color: rgba(0, 0, 0, 0.148);
}

.search[placeholder] {
    color: black;
    padding-left: 1rem;
}

.s1part2 {
    /* border: 1px solid black; */
    height: 5vw;
    width: 40vw;
    position: relative;
    left: 33vw;
    bottom: 3vw;
    display: flex;
    align-items: center;
}

.s1part2 a:hover {
    text-decoration: underline;
}
.search-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* right: 5vw; */
    top: -1vw;
}

.s1btn1 {
    height: 2.4vw;
    width:fit-content;
    padding: 2px;
    margin: 0 0.7vw;
    border: none;
    border-radius: 1vw;
    background-color: #ff765d;
    color: white;

}

.s1part2 a {
    margin: 0 0.7vw;
    text-decoration: none;
    color: var(--element-color);
}