:root {
    --element-color: black;
    --element1-color:rgba(0, 0, 0, 0.5);
    --element2-color:rgba(0, 0, 0, 0.8);
}



.sec1 {
   
    height: 20vw;
    margin-top: 110px;
    justify-content: space-between;
    align-items: center;
}

.s1part1 {
    left: 33vw;
    height: 7vw;
    width: 80vw;
    margin: 3.2vw auto;
    border-radius: 2vw;
    background-color: #7D41E2;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.199);

}

.s1part1 span {
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1.3vw;
    left: 33vw;
    font-size: 2.7em;
    font-weight: bold;
    color: white;
}

.search {
    height: 3vw;
    width: 34vw;
    border-radius: 2vw;
    position: relative;
    left: 33vw;
    right: 33vw;
    top: -4.5vw;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.155);
    color: rgba(0, 0, 0, 0.148);
    margin-top: 40px;
}

.search[placeholder] {
    color: black;
    padding-left: 1rem;
}

.s1part2 {
    /* border: 1px solid black; */
    height: 5vw;
    width: 40vw;
    position: relative;
    left: 33vw;
    bottom: 3vw;
    display: flex;
    align-items: center;
}

.s1part2 a:hover {
    text-decoration: underline;
}

.s1btn1 {
    height: 2.4vw;
   
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    /* margin: 0 0.7vw; */
    border: none;
    border-radius: 1vw;
    background-color: #ff765d;
    color: white;
    left: 30vw;

}
.s1btn1:hover{
    cursor: pointer;
}

.s1part2 a {
    margin: 0 0.7vw;
    text-decoration: none;
    color: var(--element-color);
}
