:root {
    --element-color: black;
    --element1-color: rgba(0, 0, 0, 0.5);
    --element2-color: rgba(0, 0, 0, 0.8);

}


.sec2buttons {
    position: absolute;
    top: 23rem;
    width: 20rem;
    margin-left: 3rem;
}

.sec2btn2 {
    cursor: pointer;
    height: 2.5rem;
    width: 7.2rem;
    margin: 0 1.3rem;
    border-radius: 1rem;
    border: none;
    border: 1px solid #ff765d;
    background-color: white;
    margin: 0 1rem;
    font-size: 1rem;
    color: black;
    font-weight: bold;

}

.sec2btn2-recent:hover {
    color: #fff;
    background-color: #ff765d;
}

.sec2 img:hover {
    transform: scale(1.1);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.sec2content {
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;

}

.sec2content>img {
    height: 23rem;
    width: 29rem;
    object-fit: fill;
    margin: 0 4rem;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}

.s2text {
    /* border: 1px solid green; */
    width: 35rem;
    padding: 1rem;
    /* margin: 0 3vw; */
}

/* .div{
    margin: 1.3vw 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 30px;
     color: var(--element1-color)} */
.s2text h1 {
    margin: 1rem 0;
    font-size: 1.8rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    color: var(--element-color);
}

.s2text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 30px;
    color: var(--element-color);

}

.author {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.author>img {
    height: 3rem;
    width: 3rem;
    border-radius: 10rem;
}

.authorsname {
    margin-left: 1rem;
}