@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

:root {
    --element-color: black;
    --element1-color: rgba(0, 0, 0, 0.5);
    --element2-color: rgba(0, 0, 0, 0.8);
}


.s3boxes {
    /* border: 1px solid black; */
    height: 26rem;
    width: 90rem;
    display: flex;
    margin-left: 6rem;
    margin-bottom: 3rem;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

}

.flex img:hover {
    transform: scale(1.1);
}

.box1 {
    padding-bottom: 2rem;
    height: 27rem;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.box1>img {
    height: 12rem;
    width: 20rem;
    margin: 20px 0;
    object-fit: fill;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    margin: 1rem;
}


.flex a {
    color: black;
    text-decoration: none;
}

.boxtext {
    /* border: 1px solid green; */
    height: 11rem;
    width: 20rem;
    margin-left: 1rem;
}

.boxdiv {
    margin: 0.4rem 0;
    font-size: 0.8rem;
    color: var(--element1-color);
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.boxtext h1 {
    margin: 0.5rem 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    color: var(--element-color);
    width: 15rem;
    font-size: 1rem;
}

.boxContent {
    font-size: 0.7rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    color: var(--element2-color);



}

.author {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.boxauthor {
    display: flex;
    margin-top: 0.5rem;
}

.boxauthor>img {
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;

}

.boxauthorsname {
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

.namestyle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 15px;
    color: var(--element-color);
}

.datestyle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.5rem;
    line-height: 18px;
    color: var(--element1-color);

}

@media(max-width: 620px) {
    #signup {
        display: none;
    }

    #loginButton {
        display: none;
    }

    .search {
        width: 20rem;
    }
}