/* Base styles */
body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.nav {
 
  color: #9e0e0e;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #4c39e0;
  padding: 0;
}

.main-login {
  width: 100vw;
  height: 140vh;
  background: rgb(84, 50, 208);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  transition: background-color 0.3s;
}

.dark-mode .main-login {
  background: #160202;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > h1 {
  color: white;
  font-size: 2.5vw;
}

.dark-mode .left-login > h1 {
  color: #e0e0e0;
}

.left-login-image {
  width: 35vw;
}

.right-login {
  width: 60vw;
  height: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  border-radius: 20px;
  box-shadow: 0px 10px 50px #000000a4;
  background-color: white;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode .card-login {
  background-color: #333;
  color: #e0e0e0;
}

.card-login > h1 {
  color: rgb(84, 50, 208);
  font-weight: 800;
  margin: 0;
}

.dark-mode .card-login > h1 {
  color: #e0e0e0;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
  position: relative;
}

.icon {
  position: absolute;
  top: calc(55%);
  left: 84.9%;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #E6E6FA;
  color: #030707de;
  font-size: 12pt;
  box-shadow: 0px 3px 10px #00000056;
  outline: none;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode .textfield > input {
  background: #333;
  color: #e0e0e0;
}

.textfield > label {
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
}

.dark-mode .textfield > label {
  color: #e0e0e0;
}

.textfield > input::placeholder {
  color: #000000;
}

.dark-mode .textfield > input::placeholder {
  color: #e0e0e0;
}

.btn-login, #google-login {
  width: 100%;
  padding: 16px 0;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: white;
  background: rgb(84, 50, 208);
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  transition: background-color 0.3s;
}

.dark-mode .btn-login, .dark-mode #google-login {
  background: #555;
}

.btn-login:hover, #google-login:hover {
  background: rgba(111, 50, 208, 0.9);
}

.dark-mode .btn-login:hover, .dark-mode #google-login:hover {
  background: rgba(83, 83, 83, 0.9);
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 36px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
}
